
#form-wrap {
  width: 800px;
}

#form-builder li {
  list-style: none;
  background-color: #CFCFCF;
  margin-bottom: 5px;
  padding: 1px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

#form-builder .legend {
  padding: 5px;
}

#form-builder .ui-state-highlight {
  background-color: #FFF;
  border-color: #CFCFCF;
}

.field_control {
  margin-left: 40px;
}

.frm-elements {
  background-color: rgba(255,255,255,0.70);
  margin: 0 4px 4px 4px;
  padding: 9px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.frm-elements label {
  width: 120px;
  float: left;
  margin: 0 15px;
  line-height: 24px;
}

.frm-elements .false-label {
  width: 120px;
  float: left;
  margin: 0 15px;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 24px;
}

.frm-elements input[type=text] {
  float: left;
  width: 280px;
}

.frm-elements .fields {
  float: left;
}

.frm-elements .fields input[type=checkbox],
.frm-elements .fields input[type=radio] {
  float: left;
  margin: 5px 10px 0 0;
}

.frm-elements .fields input[type=text] {
  width: 220px;
  margin-top: 0;
}

.frm-elements .fields input[type=text].scale-label {
  width: 50px;
  margin-top: 0;
}

.frm-elements .false-label,
.frm-elements .fields {
  margin-top: 10px;
}

.frm-elements .fields div {
  clear: both;
  float: left;
  width: 300px;
  margin-bottom: 5px;
}

.frm-elements .fields label.auto {
  width: auto;
  margin: 0 0 5px 0;
}

.frm-elements .fields .remove {
  float: right;
}

.frm-elements .fields .add-area {
  width: 280px;
  margin-top: 5px;
  border-top: 1px solid rgba(255,255,255,0.125);
}

.frm-elements .fields .add-area .add {
  clear: both;
  float: right;
}

.frm-elements:after, .frm-fld:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.frm-elements, .frm-fld {
  display: inline-block;
}

.frm-elements, .frm-fld {
  display: block;
}

.form-wrapper .commands {
  float: right;
}

.form-wrapper .commands a {
  margin: 0 0.5em;
}

.form-wrapper .move-form {
  cursor: move;
}

.delete-form {
}
